<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>The Green Kitchen</title>

  <!--Fonts-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <nav>
    <a href="{{ url_for('web.home') }}">Home</a>
    <a href="{{ url_for('web.login') }}">Login</a>
    <a href="{{ url_for('web.register') }}">Register</a>
    {% if current_user.is_authenticated %}
      <a href="{{ url_for('web.profile') }}">Profile</a>
    {% endif %}
  </nav>
  <main>
    {% block content %}{% endblock %}
  </main>
</body>
</html>
